$height: 100px;
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&__container {
		min-height: $height;
		padding: 0 72px;
	}
	@media(max-width: 767.98px){
		&__container{
			padding: 0 36px;
		}
	}
	@media(max-width: 479.98px){
		&__container{
			padding: 0 20px;
		}
	}

	&__block {
		min-height: $height;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		position: relative;
		z-index: 10;
		max-width: 120px;
		max-height: 43px;
		animation: pulseLogo 5s ease infinite normal running 0s none;
		img{
			width: 100%;
			height: 100%;
		}
	}
	
}



@keyframes pulseLogo{
	0%{
		transform: scale(1,1) translateY(0);	
	}
	50%{
		transform: scale(1.05,1.05) translateY(5px);
	}
	100%{
		transform: scale(1,1) translateY(0);
	}
}
.menu {
	min-width: 382px;
}

.menu__list {
	display: flex;
	justify-content: space-around;
}
.menu__item {
	display: inline-block;
	padding: 5px;
	position: relative;
	
	&::after{
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background-color: white;
		position: absolute;
		bottom: -2px;
		left: 0;	
		border-radius: 5px;	
		transition: transform .4s ease 0s;
		transform: scale(0);
	}
	&:hover::after {
		transform: scale(1);
	}
}
.menu__link {
	font-size: 16px;
	line-height: 0.8;
	color: white;
	
}

@media(max-width: 767.98px){
	.menu{
		position: absolute;
	}
	.menu__body{
		position: fixed;
		left: -100%;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #E5E5E5;
		padding-top: 140px;
		overflow: auto;
		transition: left .4s ease 0s;
		padding: 140px 15px 25px 15px;
		&::before{
			content: '';
			transition: left .4s ease 0s;
			display: block;
			width: 100%;
			height: 100px;
			background-color: #2d2b2b;
			position: fixed;
			top: 0;
			left: -100%;
		}
	}
	.menu__body._active{	
		left: 0;
		&::before{
		transition: border-radius .2s ease .4s;
		border-radius: 0 0 15px 15px;
		left: 0;
		}
	}
	.menu__list {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-width: 0;
	}
	.menu__item:not(:last-child){
		margin-bottom: 30px;
	}
	.menu__link {
		font-size: 40px;
		color: #2d2b2b;
		
	}
}
	.icon-menu{
		display: none;
	}
@media(max-width: 767.98px){
	.icon-menu{
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		
		span, &::after, &::before{
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: white;
			transition: all .4s ease 0s;
		}
		&::after, &::before{
			content: '';
		}
		span{
			bottom: 50%;
			transform: scale(1);		
		};
		&::after{
			bottom: 2px;
			transform: scale(1)
		}
		&::before{
			top: 0;
			transform: scale(1)
		}
	}

	.icon-menu._active{
		span{
			transform: scale(0) translate(0px, -50%);
		}
		&::before{
			top: 50%;
		transform: rotate(-45deg) translate(0, -50%);
		}
		&::after{
			bottom: 50%;
			transform: rotate(45deg) translate(0, 50%);
		}
	}
}


//PC
@media(max-width: 1087px){
	
}
//TABLET
@media(max-width: 991.98px){
	
}
//MOBILE
@media(max-width: 767.98px){
	
}
//MOBILE SMALL
@media(max-width: 479.98px){

}