// Imports
@import "BEM-blocks";

@import "fonts";
@import "nullstyle";
@import "header";
@import "momentum";
@import "laptop";
@import "products";
@import "features";
@import "statistics";
@import "meals";
@import "comment";
@import "brands";
@import "get-started";
@import "get-updates";
@import "footer";

//Styles
body._lock{
	overflow: hidden;
}

[class*="__container"]{	
	margin: 0 auto;
}
@media (min-width: 1440px){
	[class*="__container"]{	
		max-width: 1296px;
	}
}
@media(max-width: 1440px){
	[class*="__container"]{	
		max-width: 1296px;
	}
}
@media(max-width: 1320px){
	[class*="__container"]{	
		max-width: 1176px;
	}
}
@media(max-width: 1202px){
	[class*="__container"]{	
		max-width: 1032px;
	}
}
//PC
@media(max-width: 1087px){
	[class*="__container"]{
		max-width: 970px;
	}
}
//TABLET
@media(max-width: 991.98px){
	[class*="__container"]{
		max-width: 750px;
	}
}
//MOBILE
@media(max-width: 767.98px){
	[class*="__container"]{
		max-width: none;
	}
}
//MOBILE SMALL
@media(max-width: 479.98px){

}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.header{
	
}
main{
	flex: 1 1 auto;
}
.footer{
	flex: 0 0 10px;
}

//top-mover
.top-mover{
	transition: transform opacity 1s ease .5s;
	opacity: 0;
	transform: scale(0,0);
	user-select: none;
	
}
.top-mover._active {
	

	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 30px;
	left: 50px;
	z-index: 5;

	height: 200px;
	width: 50px;

	border-radius: 25px;
	border: 1px solid whitesmoke;
	
	background-color: #1B1B1B;
	color: white;

	transition:  transform,opacity 1s ease .5s;
	
	transform: scale(1,1);
	opacity: 1;

	cursor: pointer;

	
}
.top-mover:hover{
	background-color: rgba(69, 62, 62, 0.7);
	transition: all .3s ease 0s;
}
.top-mover__block {
	writing-mode: vertical-lr;
	text-orientation: upright;
}

@media(max-width: 991.98px){
	.top-mover._active{
		top: 15px;
		left: 15px;
	}
}
@media(max-width: 767.98px){
	.top-mover._active,.top-mover{
		display: none;
	}
}