// Imports
@import "BEM-blocks";

@import "fonts";
@import "nullstyle";
@import "header";
@import "momentum";
@import "laptop";
@import "products";
@import "features";
@import "statistics";
@import "meals";
@import "comment";
@import "brands";
@import "get-started";


//Styles
body._lock{
	overflow: hidden;
}

[class*="__container"]{	
	margin: 0 auto;
}
@media (min-width: 1440px){
	[class*="__container"]{	
		max-width: 1296px;
	}
}
@media(max-width: 1440px){
	[class*="__container"]{	
		max-width: 1296px;
	}
}
@media(max-width: 1320px){
	[class*="__container"]{	
		max-width: 1176px;
	}
}
@media(max-width: 1202px){
	[class*="__container"]{	
		max-width: 1032px;
	}
}
//PC
@media(max-width: 1087px){
	[class*="__container"]{
		max-width: 970px;
	}
}
//TABLET
@media(max-width: 991.98px){
	[class*="__container"]{
		max-width: 750px;
	}
}
//MOBILE
@media(max-width: 767.98px){
	[class*="__container"]{
		max-width: none;
	}
}
//MOBILE SMALL
@media(max-width: 479.98px){

}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.header{
	
}
main{
	flex: 1 1 auto;
}
.footer{
	flex: 0 0 10px;
}


